* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  min-height: 100%;
}

.book-display {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.book-container {
  border: solid 1px;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  width: 20rem;
}

.book-container > * {
  word-wrap: break-word
}

.book-read {
  background-color: green;
}

.book-unread {
  background-color: red;
}

html {
  height: 100%;
}
.nav {
  background-color: #FFF3E2;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.nav-right {
  display: flex;
}

.modal > dialog {
  top: 50%;
  left: 50%;
  border-radius: 0.6rem;
  padding: 1rem;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.modal p {
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.5fr 1fr;
}

.modal button {
  border-radius: 0.7rem;
  float: right;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0 0 0.5rem;
  padding: 0.4rem;
}

.modal #confirmBtn {
  background-color: rgb(0, 255, 0);
}

.modal #cancelBtn {
  background-color: red;
  color: white;
}

.modal input {
  padding: 0.3rem;
  border-radius: 0.4rem;
}